* {
font-family: 'Open Sans', sans-serif;
box-sizing: border-box;
}

/* refactoring */
h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 50px;
}

.section-container {
    padding: 100px 0;
}

.body-text {
font-size: 18px;
font-weight: 400;
line-height: normal;
margin-bottom: 30px;
}

/* refactoring end */

.container {
    width: 970px;
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
}

header {
    text-align: center;
}

header li {
    list-style-type: none;
    display: inline;
}
nav {
    border-bottom: 1px solid #828282;
}

nav a {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0.36px;
    color: #828282;
    line-height: normal;
    padding: 10px 5px;
    margin: 17.5px 15px;
}

nav a.active {
    color: black;
}

nav a:hover {
    font-style: oblique;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #070707;
    margin-top: 12px;
    margin-bottom: 50px;
}

#about_me {
    background: #f6f6f6;
    text-align: center;
}
#about_me .container {
    width: 480px;
}

#about_me p:last-child {
    margin-bottom: 0;
}

#skills {
    text-align: center;
}

#skills h2 {
 margin-bottom: 20px;
}

#skills .body-text {
  margin-bottom: 50px;  
}

#skills .skills-item {
    width: 170px;
    display: inline-block;
    margin: 0 44px;
}

#skills .skills-item:first-child {
    margin-left: 0;
}

#skills .skills-item:last-child {
    margin-left: 0;
}

#skills .skills-item p {
    font-size: 14px;
    font-weight: 700;
    color: #828282;
    margin-bottom: 60px;
}

.skills-item img:first-child {
    margin-bottom: 25px;
}

#skills .skills-item:last-of-type p {
    margin-bottom: 80px;
}

#skills .skills-item ~ .spacing {
    width: 50px;
    height: auto;
}

#portfolio {
    background: #f6f6f6;
}

#portfolio .spacing {
    height: 100px;
    width: 100px;
}

#portfolio .container {
    text-align: center;
}

.portfolio-tem {
margin-bottom: 70px;
}

.portfolio-tem:last-child{
margin-bottom: 0;
}

#portfolio img {
    margin-bottom: 40px;
}

.portfolio-tem a {
    color: #070707;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
}

#contacts .container {
    text-align: center;
}

#contacts h2 {
    margin-bottom: 20px;
 }

 #contacts .body-text {
    margin-bottom: 60px;
 }

 #contacts .btn-feedback {
    background: black;
    color: white;
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    width: 180px;
    border-radius: 22px;
 }

 #contacts .social {
   margin: 30px 0 60px;
 }

 #contacts .social a {
    margin: 0 25px;
 }

#contacts .social a:first-child {
    margin-left: 0;
}

#contacts .social a:last-child {
    margin-left: 0;
}

 #contacts p:last-of-type {
    color: #828282;
    font-size: 14px;
 }

  #contacts .social a:hover {
    opacity: 0.5;
  }

   #contacts .btn-feedback:hover {
    background: blue;
    color: #828282;
   }