.blog {
    margin: 90px 0;

    .row {
        margin-bottom: 50px;
    }

    &__title {
        margin: 0;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px;
        letter-spacing: 2.4px;
    }
}