* {
  font-family: "PT Sans", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  font-family: Francois One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

sup {
  font-family: Farro;
  font-size: 50%;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.2px;
  vertical-align: text-top;
}

p {
  font-family: PT Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

li {
  font-family: Staatliches;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.66px;
  margin: 0 5px;
}

li:first-child {
  margin: 0 50px 0 0;
}

code {
  background: #dadada;
}

strong {
  font-weight: 700;
}

i {
  font-style: italic;
}

section {
  display: flex;
  flex-direction: column;
  margin: 0 0 70px 0;
}

section:last-child {
  margin: 0;
}

.wrapper {
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  margin: 0 0 70px 0;
}

.header_nav {
  display: flex;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
}

.header_switch {
  font-family: Tourney;
  font-size: 22px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.88px;
}

.header_nav {
  display: flex;
}

.header_list {
  display: flex;
  justify-content: flex-start;
}

.main_react_fundamentals p,
.main_handling_text_input p {
  margin: 20px 0;
}
