* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 570px;
    padding: 35px 34px 16px 36px;
}

label {
    color: #545454;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.2px;
    margin-bottom: 7px;
}

.group {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    position: relative;
    width: 245px;
}

.group.max_width {
    padding-bottom: 25px;
    margin-bottom: 20px;
}

.group_row {
    display: flex;
    justify-content:space-between;
}

.group input {
    height: 38px;   
    padding: 7px 10px;
    border-radius: 8px;
    border: 1px solid #545454;
}

.group input:focus {
    border: 1px solid #064589;
}

.max_width {
    width: 100%;
}

.hint {
    color: #969696;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
    letter-spacing: -0.1px;
}

.group .hint {
    position: absolute; 
    bottom: 0;
    left: 0;
}

.gender_group {
    display: flex;
    gap: 21px;
}

.gender_item input{
    width: 0;
    height: 0;
    opacity: 0;
}

.radiobutton {
    width: 20px;
    height: 20px;
    border: 1px solid #E4E4E4;
    border-radius: 20px;
    display: block;
    cursor: pointer;
    margin-right: 8px;
    position: relative;
}

.radiobutton::after {
    content: "";
    width: 9px;
    height: 9px;
    background-color: white;
    border-radius: 9px;
    position: absolute;
    top: 5px;
    left: 4.5px;
    display: none;

}

.gender_item {
    display: flex;
}

.gender_item input:checked ~ .radiobutton {
    background-color: #007bff;
}

.gender_item input:checked ~ .radiobutton::after {
    display: block;
}
