body {
    padding: 50px;
}

.card-item {
    width: 311px;
    height: 439px;
    position: relative;

    &:hover {
        .card-item__side-front {
            transform: rotateY(0deg);
            z-index: 2;
        }

        .card-item__side-back {
            transform: rotateY(-180deg);
            z-index: -1;
        }
    }


    &__side-front {
        position: relative;
        padding: 10px;
        height: 100%;
        background: #f9f9f9;
        border: 2px solid #000;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        backface-visibility: hidden;
        z-index: 0;
        transition: transform .8s ease;

        transform: rotateY(-180deg);

        span {
            font-weight: 900;
            font-size: 20px;

            &:first-child {
                align-self: flex-start;
            }

            &:last-child {
                align-self: flex-end;
            }
        }
    }

    &__side-back {
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        z-index: 1;
        transition: transform .8s ease;


        img {
            width: 100%;
            height: auto;
        }
    }
}