.container {
  width: 1170px;
  margin: auto;
  padding-top: 121px;
  text-align: center;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.subtitle {
  color: #898F8F;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 15px;
}

h1 {
  color: #FC0;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 66px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 100px;
  position: relative;
}
h1::after {
  content: " ";
  display: inline-block;
  width: 450px;
  height: 20px;
  background-size: 210px, 20px, 210px;
  background-image: url(../img/Line.svg), url(../img/bonfire-sharp.svg), url(../img/Line.svg);
  background-position: left, center, right;
  background-repeat: no-repeat;
  position: absolute;
  left: 360px;
  bottom: -40px;
}

.section-slider {
  width: 1030px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.section-slider::after {
  content: " ";
  width: 1px;
  height: 560px;
  background-image: url(../img/divider.svg);
  position: absolute;
  left: 50%;
}
.section-slider .left {
  width: 430px;
  height: 430px;
  position: relative;
}
.section-slider .left::after {
  content: " ";
  display: inline-block;
  width: 430px;
  height: 430px;
  background-size: 100px, 100px, 100px, 100px;
  background-image: url(../img/angle1.svg), url(../img/angle2.svg), url(../img/angle4.svg), url(../img/angle3.svg);
  background-position: top left, top right, bottom left, bottom right;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.section-slider .left img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.section-slider .right {
  width: 430px;
  height: 420px;
}
.section-slider .right h2 {
  color: #666;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 30px;
}
.section-slider .right p {
  color: #666;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 30px;
}
.section-slider .right .social {
  width: 135px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}
.section-slider .right .social a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-slider .right .social a:hover svg {
  transform: scale(1.1);
}
.section-slider .right .text {
  color: #333;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 54px;
  position: relative;
}
.section-slider .right .text::after {
  content: " ";
  display: inline-block;
  width: 50px;
  height: 4px;
  background-size: 10px, 20px, 10px;
  background-image: url(../img/Rectangle1.svg), url(../img/Rectangle2.svg), url(../img/Rectangle3.svg);
  background-position: left, center, right;
  background-repeat: no-repeat;
  position: absolute;
  left: 190px;
  bottom: -20px;
}
.section-slider .right button {
  height: 24px;
  width: 118px;
  border: 1px solid #FC0;
  align-items: center;
  color: #666;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
}
.section-slider .right button:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=main.css.map */