body {
  font-family: Open Sans;
  font-style: normal;
  line-height: normal;
}

/* Header */

.navbar {
  text-align: center; 
  width: 100%;
  align-items: center;
  gap: 40px;
  color: #828282;
}

hr {
  width: 970px;
  height: 1px;
}

.Denis_Novik {
  width: 970px;
  height: 497px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  padding-top: 12px;
  padding-bottom: 50px;
}

.photo {
  text-align: center;
  height: 387px;
}

/* <!-- Section "About me" --> */
.background {
  background-color: #F6F6F6;
  text-align: center;
}
h3 {
  color: #070707;
  font-size: 34px;
  text-align: center;
}

.about-me {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

/* Section "Skills" */
.skills-general {
  text-align: center;
}

.skills {
  color: #070707;
  font-size: 18px;
  font-weight: 400;
}

.skills-icons {
  display: flex;
  justify-content: center;
  gap: 97px;
}

/* Section "Portfolio" */
.portfolio-general {
  text-align: center;
}

.portfolio {
  width: 970px;
  height: 540px;
  padding-top: 70px;
  padding-bottom: 40px;
}

.port-link {
  color: #070707;
  font-size: 18px;
  font-weight: 400;
  text-decoration-line: underline;
}

/* Footer */
footer {
  text-align: center;
}
.contacts {
  color: #070707;
  padding-top: 20px;
  padding-bottom: 60px;
}

button {
  background: #070707;
  width: 180px;
  height: 44px;
  color: #FFF;
  border-radius: 22px;
}

.social-buttons {
  padding-top: 30px;
  padding-bottom: 60px;
  gap: 50px;
}

.social-text {
  color: #828282;
  font-size: 14px;
  font-weight: 400;
}