* {
  font-family: "Open sans";
  box-sizing: border-box;
}

.container {
  width: 970px;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

/* Refactoring */

.section-title {
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 50px;
}

.section-container {
  padding: 100px 0;
}

/* Refactoting end */
header {
  text-align: center;
}

header li {
  list-style-type: none;
  display: inline-block;
}

nav {
  border-bottom: 1px solid;
}

nav a {
  display: inline-block;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0, 36px;
  color: #828282;
  padding: 10px 5px;
  margin: 17.5px 15px;
}

nav a.active {
  color: #070707;
}

/* The end stale heder */

h1 {
  font-weight: 700;
  line-height: 60px;
  font-size: 48px;
  color: #070707;
  margin-top: 12px;
  margin-bottom: 50px;
}

/* The end section 1 */

#about_me {
  background: #f6f6f6;
  text-align: center;
  /* padding: 100px; */
}

#about_me .container {
  width: 480px;
}

#about_me p {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

#about_me p:last-child {
  margin-bottom: 0;
}

/* The end about me */

#skills {
  text-align: center;
  padding: 100px 0;
}

#skills .section-title {
  margin-bottom: 20px;
}

#skills p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}

#skills .skills-item {
  width: 170px;
  display: inline-block;
  margin: 0 44px;
}

#skills .skills-item:first-child {
  margin-left: 0px;
}

#skills .skills-item:last-child {
  margin-right: 0px;
}

#skills .skills-item p {
  font-size: 14px;
  font-weight: 700;
  color: #828282;
  margin-bottom: 60px;
  margin-top: 0px;
}

.skills-item img:first-child {
  margin-bottom: 25px;
}

#skills .skiills-item:last-of-type p {
  margin-bottom: 80px;
}

/* the end skills */

#portfolio {
  background: #f6f6f6;
  /* padding: 100px 0; */
}

#portfolio .container {
  text-align: center;
}

#potfolio img {
  margin-bottom: 40px;
}

.portfolio-item {
  margin-bottom: 70px;
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

.portfolio-item a {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}

/* The end portfolio */

/* #contacts { */
/* padding: 100px 0; */
/* } */

#contacts .container {
  text-align: center;
}

#contacts .section-title {
  margin-bottom: 20px;
}

#contacts p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #070707;
  margin-bottom: 60px;
}

#contacts .btn-feedback {
  background-color: black;
  display: inline-block;
  width: 180px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  color: white;
  border-radius: 22px;
}

#contacts .social {
  margin: 30px 0 60px;
}

#contacts .social a {
  margin: 0 25px;
}

#contacts .social a:first-child {
  margin-left: 0;
}

#contacts .social a:last-child {
  margin-right: 0;
}
#contacts p :last-of-type {
  color: #828282;
  font-size: 14px;
}
