* {
    font-family: 'Montserrat', sans-serif!important;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.custom_btn {
    padding: 13px 40px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: #FF9900;
    border-radius: 4px;
    border: 1px solid #FF9900;
}

a {
    text-decoration: none;
    color: #2F281E;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

header .custom_btn {
    padding: 13px 25px;
    font-weight: 600;
}

header .custom_btn:first-of-type {
    background: white;
    color: #2F281E;
    border: 1px solid #BCD0E5;
    margin-right: 32px;
}

.menu {
    display: flex;

}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0px;
}

.menu a {
    font-size: 16px;
    line-height: 28px;
}

.menu a:hover {
    color: #FF9900;
}

.section1 {
    display: flex;
    margin: 70px 0 99px;
}

h1 {
    width: 500px;
    height: 110px;
    color: #2F281E;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    margin: 97px 56px 30px 0;
}

.section1 p {
    width: 500px;
    height: 91px;
    color: #544837;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.section1 .sectionbtm {
    margin-top: 20px;
}

h2 {
    width: 800px;
    height: 110px;
    color: #2F281E;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    margin: 99px auto 50px;
    text-align: center;
}

/* .text1 {
    display: flex;
    justify-content: center;
} */

.box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blast h3 {
    margin: 30px 0 16px;
    color: #2F281E;
    font-size: 22px;
    font-weight: 600;
}

.blast p {
    /* width: 270px; */
    color: #544837;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.box a {
    margin: 70px 505px 178px;
    justify-content: center ;
    /* align-items: center; */
}

.text1 h2 {
    text-align: left;
    margin: 0 0 20px 0;
    height: 53px;
}

.text1 p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #544837;
    /* letter-spacing: 1.5px; */
}

/* .text1 p:last-child {
    margin-bottom: 10;
} */
 
.container .text2 h4 {
    color: #2F281E;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 30px;
}

.container .text2 h4:first-child {
    margin-top: 40px;
}

.container .text2 p {
    margin-top: 10px;
}

.image2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
}

.container2 {
    width: 525px;
}

.container .image2 {
    margin-bottom: 100px;
}

.icon {
    display: flex;
    margin-top: 40px;
    position: relative;
}

.icon .icon_margin {
    margin-right: 30px;
}

.icon span {
    color: #544837;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}


