/* Global styles */
body {
    margin: 0 auto;
    width: 1200px;
    font-family: 'PT Sans', sans-serif;
}

/* Header styles */
header {
    width: 83%;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-items, .header-items-text, .header-info {
    display: flex;
    gap: 50px;
    align-items: center;
}

.text-logo p {
    padding-top: 16px;
    font-family: 'Tourney', sans-serif;
    font-size: 22px;
}

.header-info p {
    padding-top: 16px;
    font-family: 'Staatliches', sans-serif;
}

.header-picture {
    height: 54px;
    width: 20%;
    padding: 13px 0;
}

/* Main styles */
main {
    max-height: 738px;
}

.headline-box {
    display: flex;
    gap: 20px;
    margin: 70px 0 40px;
    align-items: center;
}

hr {
    width: 100px;
    margin: 0;
    border: 8px solid #000;
    margin-top: 7px;
}

h2 {
    margin: 0;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 1.44px;
}

.headline {
    display: inline-flex;
    width: 27%;
    height: 48px;
    box-sizing: border-box;
    align-items: center;
}

/* Container styles */
.container {
    width: 100%;
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    border: 1px solid #BFBFBF;
    border-radius: 8px;
}

.first-line-items, .last-line-items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.first-line-items > div, .last-line-items > div {
    position: relative;
    background: #8E8E8E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 40px 30px;
    border-radius: 8px;
    cursor: pointer;
}

.first-line-items > div:hover, .last-line-items > div:hover {
    transform: rotateX(180deg);
    background: #000;
}

.first-line-items > div > img:nth-child(1), .last-line-items > div > img:nth-child(1) {
    transform: rotateX(-180deg);
    display: none;
}

.first-line-items > div:hover img:nth-child(1), .last-line-items > div:hover img:nth-child(1) {
    display: block;
}

.first-line-items > div:hover img:nth-child(2), .last-line-items > div:hover img:nth-child(2) {
    transition: all 1s ease-out;
    display: none;
}
