* {
  font-family: 'Roboto', sans-serif!important;
}

body {
  height: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
}

.all_page {
  background-color: #3B3F45;
  margin: 0 auto;
  width: 793px;
}

/* Header */
.header {
  background-color: #4A4F56;
  text-align: center;
}

h1 {
  color: #FF8984;
  font-size: 24px;
  font-weight: 700;
  padding-top: 19px;
}

.header-item {
  color: #FF8984;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 32px;
  padding-top: 4px;
}


/* item-1 */
.quadrate {
  width: 19px;
  height: 19px;
  margin: 12px 16px 14px 16px;
}

.item-1 {
  width: 534px;
  height: 45px;
  background: #88839E;
  margin-left: 129px;
  margin-top: 20px;
  margin-right: 130px;
  margin-top: 0;
}

.text-1 {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 11px;
  padding-right: 3px;
  padding-bottom: 13px;
}

.text-2 {
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 3px;
  padding-top: 12px;
  padding-bottom: 17px;
}


input:checked {
  text-decoration: line-through;
}

/* 
input[type="checkbox"]:checked {
  text-decoration: line-through;
  color: #9B96AC;
}

option:checked {
  color: #9B96AC;
  text-decoration: line-through;
} */


.item-1:hover {
  background-color: #625E77;
  border-top: 3px white solid;
  border-bottom:3px white solid ;
}

.item-1:visited {
  color:  #9B96AC;
}

.item-1:active {
  background: #FF8984;
}

/* item-2 */
.item-2 {
  width: 534px;
  height: 45px;
  background: #7A7593;
  margin-left: 129px;
  margin-top: 20px;
  margin-right: 130px;
  margin-top: 0;
}

.item-2:hover {
  background-color: #625E77;
  border-top: 3px white solid;
  border-bottom:3px white solid ;
}

.item-2:active {
  background: #FF8984;
}

/* item-3 */
.item-3 {
  width: 534px;
  height: 45px;
  background: #88839E;
  margin-left: 129px;
  margin-top: 0px;
  margin-right: 130px;
}

.item-3:active {
  background: #FF8984;
} 
.item-3:hover {
  background-color: #625E77;
  border-top: 3px white solid;
  border-bottom:3px white solid ;
}

/* item-4 */
.item-4 {
  width: 534px;
  height: 45px;
  background: #7A7593;
  margin-left: 129px;
  margin-right: 130px;
  margin-bottom: 0px;
}

.item-4:active {
  background: #FF8984;
}

.item-4:hover {
  background-color: #625E77;
  border-top: 3px white solid;
  border-bottom:3px white solid ;
}

/* item-5 */
.item-5 {
  width: 534px;
  height: 45px;
  background: #88839E;
  margin-left: 129px;
  margin-right: 130px;
  margin-bottom: 0;
}

.item-5:active {
  background: #FF8984;
} 

.item-5:hover {
  background-color: #625E77;
  border-top: 3px white solid;
  border-bottom: 3px white solid ;
} 

/* item-6 */
.item-6 {
  width: 534px;
  height: 45px;
  background: #7A7593;
  margin-left: 129px;
  margin-top: 20px;
  margin-right: 130px;
  margin-top: 0;
}

.item-6:active {
  background: #FF8984;
}

.item-6:hover {
  background-color: #625E77;
  border-top: 3px white solid;
  border-bottom:3px white solid ;
}


/* Button */
.button {
  padding: 45px 130px 45px 129px;
}

.bon_appetit {
  background: #4A4F56;
  color: #FF8984;
  padding-left: 204px;
  padding-top: 12px;
  padding-right: 223px;
  padding-bottom: 12px;
}
