* {
  font-family: Roboto, sans-serif!important;
}

.main_container {
  background: #3B3F45;
  width: 793px;
  height: 507px;
}

/* Header */
#header {
  background: #4A4F56;
  width: 793px;
  height: 82px;
}

h1 {
  color: #FF8984;
  font-size: 24px;
  font-weight: 700;
  padding-left: 247px;
  padding-top: 19px;
  padding-right: 270px;
  padding-bottom: 4px;
}

.header-item {
  color: #FF8984;
  font-size: 16px;
  font-weight: 400;
  padding-left: 316px;
  padding-right: 338px;
  padding-bottom: 12px; 
}

/* Action */
.container {
  margin-top: 20px;
  margin-bottom: 45px;
}

/* item-1 */
.item-1 {
  width: 534px;
  height: 45px;
  background: #88839E;
  margin-left: 129px;
  margin-top: 20px;
  margin-right: 130px;
  margin-top: 0;
}

.quadrate {
  width: 19px;
  height: 19px;
  margin-left: 12px;
  margin-top: 12px;
  margin-right: 16px;
  margin-bottom: 14px; 
}

.text-1 {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 11px;
  padding-right: 3px;
  padding-bottom: 13px;
}

.text-2 {
  color: #FFF;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 3px;
  padding-top: 12px;
  padding-bottom: 17px;
}

/* item-2 */
.item-2 {
  width: 534px;
  height: 45px;
  background: #7A7593;
  margin-left: 129px;
  margin-top: 20px;
  margin-right: 130px;
  margin-top: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.text-3 {
  color: #9B96AC;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 11px;
  padding-right: 0;
  padding-bottom: 13px;
  text-decoration: line-through;
}

.text-4 {
  color: #9B96AC;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 12px;
  padding-right: 0;
  padding-bottom: 17px;
  text-decoration: line-through;
}

/* item-3 */
.item-3 {
  width: 534px;
  height: 45px;
  background: #88839E;
  margin-left: 129px;
  margin-top: 0px;
  margin-right: 130px;
}

/* item-4 */
.item-4 {
  width: 534px;
  height: 45px;
  background: #625E77;
  margin-left: 129px;
  margin-top: 3px;
  margin-right: 130px;
  margin-bottom: 3px;
}

/* item-5 */
.item-5 {
  width: 534px;
  height: 45px;
  background: #88839E;
  margin-left: 129px;
  margin-top: 3px;
  margin-right: 130px;
  margin-bottom: 0;
}
/* item-6 */
.item-6 {
  width: 534px;
  height: 45px;
  background: #7A7593;
  margin-left: 129px;
  margin-top: 20px;
  margin-right: 130px;
  margin-top: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

/* Footer */
.button {
  margin-left: 129px;
  margin-top: 417px;
  margin-right: 130px;
  margin-top: 45px;
}

.bon_appetit {
  background: #4A4F56;
  color: #FF8984;
  padding-left: 204px;
  padding-top: 12px;
  padding-right: 223px;
  padding-bottom: 12px;
}