.container {
    width: 970px;
    margin: 0 auto;
}

a {
    color: #828282;
    text-decoration: none;
    font-weight: 400;
    width: 44px;
    height: 25px;
}

ul {
    list-style-type: none;
}

nav ul {
    display: flex;
    display: inline-block;
}

nav {
    text-align: center;
}

nav li {
    float:left;
}

nav a {
    margin: 40px;
}

.section1 {
    background-color: #F6F6F6;
    height: 500px;
}

.skills-list {
    display: flex;
    flex-direction: row;
    gap: 97px;
    margin-top: 50px;
    justify-content: center;
}

skills-name {
    color: #828282;
    font-size: 14px;
    text-align: center;
    margin-top: 25px;
}


.skills-list-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
}