body {
    text-align: center;
}
header {
    text-align: center;
}
section {
    width: 970px;
    margin: auto;
}

ul {
    display: block;
    display: flex;
    list-style: none;
    justify-content: space-between;
    
}
a{
    color: black;
}

a:hover {
   color:black;
}

a:active {
    color: black;
}

.menu_title:link {
    text-decoration: none;
    color: #828282;
}

a:visited {
    text-decoration: none;
}
nav {
    width: 496px;
margin: auto;}

.container {
    display: flex;
    justify-content: space-between;
    margin: auto;
}