.container {
      width: 1110px;
      /* experemental */
      margin: 0 auto;
}

.button {
      background: #111847;
      width: 160px;
      height: 26px;
      color: #fff;
      font-size: 500;
      line-height: 26px;
      font-family: 'Inter', sans-serif;
      font-family: 'Roboto', sans-serif;
      /* experemental */
      display: block;
      text-align: center;
}
