* {
  font-family: "Roboto", sans-serif;
}

* {
  transition: all 0.1s ease-in;
}

div.conteiner {
  width: 793px;
  height: 507px;
  background-color: #3b3f45;
  border-radius: 1px;
  border-color: white;
  position: relative;
  top: 50px;
  left: 325px;
}

header.conteiner {
  width: 793px;
  height: 82px;
  text-align: center;
  background-color: #4a4f56;
  margin-bottom: 20px;
}

h1 {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  color: #ff8984;
  margin-top: 19px;
}

.conteiner p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: #ff8984;
  margin: auto;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

section.conteiner label {
  display: flex;
  align-items: center;
  width: 534px;
  height: 45px;
  background-color: #88839e;
  margin: auto;
  padding: 0px;
}

.list .list_item_1 {
  background-color: #625e77;
}

.list .list_item_3 {
  background-color: #625e77;
}

.list .list_item_5 {
  background-color: #625e77;
}

[type="checkbox"] {
  width: 19px;
  height: 19px;
}

.list label:hover {
  background-color: #625e77;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.list:nth-last-child(2) {
  background-color: #7a7593;
}

.list label:active {
  background-color: red;
}

input:checked + span {
  text-decoration: line-through;
}
input:checked ~ span {
  text-decoration: line-through;
}

.list_item_1 .text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}

.list_item_1 .notes {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list_item_2 .text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}

.list_item_2 .notes {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list_item_3 .text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}

.list_item_3 .notes {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list_item_4 .text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}

.list_item_4 .notes {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list_item_5 .text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}

.list_item_5 .notes {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list_item_6 .text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}

.list_item_6 .notes {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.conteiner_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 534px;
  height: 45px;
  background-color: #4a4f56;
  margin: auto;
  text-align: center;
}

.conteiner_1 h2 {
  color: #ff8984;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: auto;
}
