.container_style {
    max-width: 1170px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.text-primary {
    color: #128C76!important;
}

a {
    text-decoration: none;
    color: black;
}

.btn-primary {
    background: #128C76!important;
    border-color: #128C76!important;
    border-radius: 0;
}

.btn-outline-secondary {
    border-color: #F56B8D;
    color: #F56B8D;
    border-radius: 0;
}

.btn-outline-secondary:hover {
    border-color: #F56B8D;
    background-color: #F56B8D;
}

.px-2_5 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.px-80 {
    padding-left: 5rem;
    padding-right: 5rem;
}

.py-160 {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.my-2_5 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.section-bg {
    height: 780px;
    width: 100%;
    background-size: cover;
    background: url(./img/back.png);
    background-position: center;
    position: relative;
}

.section-bg .row {
    width: 780px;
}

.section-bg img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}

/* .section-bg .container_style {

} */

.text-secondary {
    color: #999;
}

.box-shadow-card {
    box-shadow: 0px 24px 60px 0px rgba(51, 51, 51, 0.46);
}

.card {
    background: (0deg, #c4c4c4 0%, #c4c4c4 100%);
    width: 370px;
    border-radius: 0;
    border-width: 0;
}

.card-title {
    text-align: left;
}

.card-subtitle {
    text-align: left;
}

.gray-line {
    width: 100%;
    height: 0.5rem;
    background: #c4c4c4;
    position: relative;
}

.green-line {
    width: 50%;
    height: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #128C76;
}