* {
    font-family: 'Red Hat Display', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

@media (min-width: 992px) {
    .container {
        max-width: 1200px;
    }
}


@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}