.container {
    width: 1010px;
    /* experemental */
    margin: 0 auto;
}

.button {
    background: #111b47;
    width: 160px;
    height: 26px;
    color: #fff;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
     /* experemental */
    display: block;
    text-align: center;
}