.container {
    position:relative
}

.container:hover {
    transform: rotateX(3.142rad);
    transition: all 1s ease-out;
}

.fcb-b1 {
    transform: rotateX(-3.142rad);
    display: none;
}

.container:hover .fcb {
    display: none;
    transition: all 1s ease-out;
}

.container:hover .fcb-b1 {
    transition: all 1s ease-out;
    display: block;
}

/* .fcb, .fcb-b1 {
    position: absolute;
} */